/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-prev {
  color: #facb30 !important;
}
.swiper-button-next {
  color: #facb30 !important;
}
/* .swiper-button-disabled {
  color: green !important;
} */
.swiper-pagination-bullet {
  margin-top: 30px !important;
}
.swiper-pagination-bullet-active {
  color: #fff;
  background: #facb30 !important;
}
